#mainContainer {
    background: #181818;
    display: flex;
}

#navContent {
    display: flex;
    flex-direction: column;
}

#mainContent {
    display: flex;
}

#contentContainer {
    display: flex;
    flex-direction: column;

}

body {
    background: #181818;
    font-family: "Avenir Next";
}

