#mainContainer {
    background: #181818;
    display: flex;
}

#filler {
    width: 20%;
    height: 100%;
    min-width: 200px;
}

#navContent {
    display: flex;
    flex-direction: column;
}

#mainContent {
    display: flex;
    border-top: 1px solid #398886;
    margin-top: 75px;
}

#contentContainer {
    display: flex;
    flex-direction: column;

}

body {
    margin: 0;
}

html {
    /* background: #181818; */
    font-family: "Avenir Next";
}
