#canvas {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    background: white;
}

#canvasToolbarContainer {
    display: flex;
    margin: 0;
    padding-left: 10px;
}

.toolIcon {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.toolIcon:hover {
    cursor: pointer;
}



#colorWheel {
    margin-top: 10px;
}

#colorWheel:hover {
    cursor: url(/cursor/cursor_eyedropper.png) 2 15, pointer;
}
#canvasLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#colorCanvasHolder {
    padding: 0px 10px;
}

