#canvas {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    background: white;
}

#canvasToolbarContainer {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    /* padding-left: 10px; */
}

.toolIcon {
    width: 75px;
    height: 75px;
    margin-right: 5px;
}

.toolIcon:hover {
    cursor: pointer;
}


#colorWheel {
    margin-top: 10px;
    border: 1px solid gray;
}

#colorWheel:hover {
    cursor: url(/cursor/cursor_eyedropper.png) 2 15, pointer;
}
#canvasLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

#colorCanvasHolder {
    /* padding: 0px 10px; */
    margin-left: 10px;
}

