#gameContainer {
    display: block;
}

#guessContainer {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
}

#guessContainer li {
    font-size: 30px;
    color: white;
}

#roundInfoContainer {
    margin-top: 50px;
    margin-bottom: 25px;
}

#stopwatch {
    font-size: 50px;
    font-weight: 400;
    color: white;
    text-align: center;
    line-height: 50px;
}

#round {
    text-align: center;
    color: white;
    font-size: 20px;
}